{% extends 'base.html' %}
{% block title %}Articles{% endblock title %}

{% block content %}
    <section class="my-8">
        <div class="container mx-auto">
            <div class="grid grid-cols-3 gap-8">
                {% for o in object_list %}

                    <div class="flex items-center justify-center border-2 rounded-lg p-4">
                        <div class="flex flex-col">
                            <a href="{% url 'article_details' o.pk %}">
                                <div class="text-xl font-bold py-2"> {{ o.title }}<span class=" pl-2 text-sm font-light">
                                by {{ o.author }}</span></div>
                                <div class="text-sm font-light py-2"> {{ o.date }}</div>
                                <div class="text-sm font-medium leading-4 py-4"> {{ o.body }}</div>
                            </a>
                            <div class="flex justify-center gap-4">
                                <a class="py-2 px-4 text-white bg-yellow-600 hover:bg-yellow-500 rounded-xl"
                                   href="{% url 'article_edit' o.pk %}">Edit</a>
                                <a class="py-2 px-4 text-white bg-red-600 hover:bg-red-500 rounded-xl"
                                   href="{% url 'article_delete' o.pk %}">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock content %}
